/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_dark {
  /* цвет меню */
  --menu-color: #ff0070;

  /* цвет меню для состояния hover */
  --menu-color-RGB-transperent: rgb(255 0 112 / 0.4);

  /* цвет шрифта для акцентных элементов */
  --accent-color: #ff0070;

  /* цвет шрифта для заголовков 1 уровня */
  --title_big-color: #db00ff;

  /* цвет шрифта для заголовков 2 уровня */
  --subtitle-colore: #ff0070;

  /* цвет шрифта для заголовков 2 уровня с декором */
  --subtitle-color-decor: #000028;

  /* цвет шрифта для заголовков 2 и 3 уровня */
  --mainfont-color: #f1b2ce;
}

.page.theme_dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  background-image: url(../images/cover-image-dark.png);
}

.theme_dark .decor__element {
  display: flex;
}
