/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root .theme_light {
  /* цвет меню */
  --menu-color: #353430;
  /* цвет шрифта для акцентных элементов */
  --accent-color: #ff8dcb;
  /* цвет шрифта для заголовков 1 уровня */
  --h1font-colore: #ffc2e6;
  /* цвет шрифта для заголовков 2 уровня */
  --h2font-colore: #353430;
  /* цвет шрифта для заголовков 2 и 3 уровня с декором*/
  --h2h3font-colore-decor: #353430;
  /* цвет шрифта для параграфов */
  --mainfont-color: #353430;
}

@media (prefers-color-scheme: light) {
  :root {
    /* цвет меню */
    --menu-color: #353430;
    /* цвет шрифта для акцентных элементов */
    --accent-color: #ff8dcb;
    /* цвет шрифта для заголовков 1 уровня */
    --h1font-colore: #ffc2e6;
    /* цвет шрифта для заголовков 2 уровня */
    --h2font-colore: #353430;
    /* цвет шрифта для заголовков 2 и 3 уровня с декором*/
    --h2h3font-colore-decor: #353430;
    /* цвет шрифта для параграфов */
    --mainfont-color: #353430;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }

  .decor__element {
    display: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  background-image: url(../images/cover-image-light.png);

  .decor__element {
    display: none;
  }
}
