/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  justify-content: center;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
}

.main {
  width: 100%;
}

.main-title {
  color: var(--h1font-colore, #db00ff);
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-style: normal;
  line-height: 82.5%; /* 129.525px */
}

.header__theme-menu {
  justify-self: center;
  align-self: start;
  margin-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 9px;
}

.header__theme-menu-item {
  width: 70px;
}

.header__theme-menu-button {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 26px;
  border: 1px solid transparent;
  outline: none;
  color: var(--menu-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  text-transform: lowercase;
  background-color: transparent;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button_active {
  border: 1px solid var(--menu-color, #ff0070);
}

.header__title {
  justify-self: flex-start;
  align-self: center;
  margin-block-start: 73px;
  margin-block-end: 48px;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__text-block {
  justify-self: flex-end;
  max-width: 491px;
  margin-inline-end: 20px;
}

.header__text {
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.decor__element {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  color: var(--menu-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decor__element::after {
  content: "";
  width: 9px;
  height: 9px;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 9px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.decorated-zone:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--menu-color, #ff0070);
  border-right: 1px solid var(--menu-color, #ff0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  margin-top: 0;
  margin-left: 0;
  border-bottom: 1px solid var(--menu-color, #ff0070);
  border-left: 1px solid var(--menu-color, #ff0070);
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 60px;
  margin-block-end: 60px;
}

.image-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  justify-content: center;
}

.container--1 {
  grid-template-columns: minmax(calc(100vmin / 3 - 20px), 315px) minmax(
      calc(100vmin * 2 / 3 - 40px),
      650px
    );
  grid-template-rows: auto auto;
  column-gap: 20px;
}

.container--2 {
  grid-template-columns:
    minmax(calc(100vmin / 3 - 80px / 3), 315px)
    minmax(calc(100vmin / 3 - 80px / 3), 315px)
    minmax(calc(100vmin / 3 - 80px / 3), 315px);
  column-gap: 20px;
}

.container--3 {
  grid-template-columns: minmax(calc(100vmin / 3 - 30px), 315px) minmax(
      calc(100vmin * 2 / 3 - 30px),
      650px
    );
  column-gap: 20px;
}

.container--img {
  grid-template-columns: minmax(auto, 315px) minmax(auto, 315px) minmax(
      auto,
      315px
    );
  grid-template-rows: auto auto auto auto;
  gap: 20px;
}

.card__row-title {
  grid-column-start: 1;
  grid-column-end: 4;
  max-width: 335px;
  margin-block-end: 20px;
}

.card-vert-title {
  grid-row-start: 1;
  grid-row-end: 7;
}

.card-vert-block {
  grid-row-start: span 1;
}

.title {
  width: 100%;
  color: var(--accent-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.title__h2 {
  color: var(--h2font-colore, #ff0070);
}

.title__h-decor {
  color: var(--h2h3font-colore-decor, #000028);
  background-color: var(--accent-color, #ff0070);
}

.header__4 {
  font-weight: 400;
}

.text__block {
  width: 100%;
  margin-block-start: 10px;
  margin-block-end: 20px;
  color: var(--mainfont-color, #f1b2ce);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 23.4px; /* 130% */
}

.mini-block .title {
  margin-block-end: 20px;
}

.block {
  display: flex;
}

.block--title {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
}

.block--1 {
  grid-column-start: span 2;
}

.block--2 {
  grid-row-start: span 2;
}

.block--3 {
  grid-row-start: span 2;
}
.block--4 {
  grid-column-start: span 1;
}

.block--5 {
  grid-column-start: span 2;
}

.text-hadow {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}
.text-hadow:hover {
  text-decoration: underline;
}

.text-hadow:focus {
  outline: none;
}

.text-hadow:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.footer__title {
  text-align: center;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}
