/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  /* определение основного шрифта*/
  --mainfont: "IBM Plex mono";
}

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  display: grid;
  justify-content: center;
  background-image: url(../images/cover-image-dark.png);
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  width: 100%;
  height: 100vh;
  min-height: 668px;
  grid-template-rows: 1fr 1fr 1fr;
}

.decorated-zone:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--menu-color, #ff0070);
  border-right: 1px solid var(--menu-color, #ff0070);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 25px;
  height: 25px;
  margin-top: 0;
  margin-left: 0;
  border-bottom: 1px solid var(--menu-color, #ff0070);
  border-left: 1px solid var(--menu-color, #ff0070);
}

.main-title {
  color: var(--title_big-color, #db00ff);
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: var(--mainfont-size-desk, 157px);
  font-style: normal;
  line-height: 82.5%; /* 129.525px */
  justify-self: start;
}

.header__theme-menu {
  display: flex;
  justify-self: center;
  align-self: start;
  padding-block-start: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.header__theme-menu-button {
  width: 100%;
  border: none;
  outline: none;
  color: var(--menu-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 100%;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  padding: 3px 13px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-color-RGB-transperent, rgba(255, 0, 112, 0.4));
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--menu-color, #ff0070);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-color, #ff0070);
}

.header__title {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  text-shadow: 4px 4px 0px var(--accent-color, #ff0070);
}

.header__text {
  justify-self: flex-end;
  align-self: flex-start;
  max-width: 491px;
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
  margin-inline-end: 20px;
  margin-block-start: 51px;
}

.decor__element {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  color: var(--menu-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
}

.decor__element-bullet {
  content: "";
  width: 9px;
  height: 9px;
  margin-top: 8px;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px var(--accent-color, #ff0070);
  background-color: var(--accent-color, #ff0070);
}

.title {
  width: 100%;
  color: var(--accent-color, #ff0070);
  font-family: var(--mainfont, sans-serif);
  font-weight: 700;
  font-size: 18px;
  font-style: normal;
  line-height: 130%;
}

.text-decor {
  color: var(--subtitle-color-decor, #000028);
  background-color: var(--accent-color, #ff0070);
}

.main {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image-block {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  display: grid;
  justify-content: center;
  margin-inline-start: 20px;
  margin-inline-end: 20px;
  margin-block-start: 60px;
  margin-block-end: 80px;
}

.container--why {
  grid-template-columns: minmax(calc(100vmin / 3 - 20px), 315px) minmax(
      calc(100vmin * 2 / 3 - 40px),
      650px
    );
  column-gap: 20px;
}

.container--why-title {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 3;
}

.container--why-block {
  grid-column-start: 2;
  grid-row-start: span 1;
}

.container--what {
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
}

.container--what-title {
  padding-block-end: 20px;
  grid-column-start: 1;
  grid-row-start: 1;
}

.title.container--what-block:nth-of-type(1) {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text__block.container--what-block:nth-of-type(1) {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 4;
}

.title.container--what-block:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text__block.container--what-block:nth-of-type(2) {
  grid-column-start: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.title.container--what-block:nth-of-type(3) {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.text__block.container--what-block:nth-of-type(3) {
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.container--how {
  grid-template-columns: minmax(calc(100vmin / 3 - 30px), 315px) minmax(
      calc(100vmin * 2 / 3 - 30px),
      650px
    );
  column-gap: 20px;
}

.container--how-title {
  grid-column-start: 1;
  grid-row-start: 1;
  grid-row-end: 15;
}

.container--how > .title:nth-child(2) {
  margin-block-end: 20px;
}

.container--img {
  grid-template-columns: minmax(auto, 315px) minmax(auto, 315px) minmax(
      auto,
      315px
    );
  gap: 17px;
}

.container--img-title {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

.container--img-block:nth-of-type(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}
.container--img-block:nth-of-type(2) {
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.container--img-block:nth-of-type(3) {
  grid-column-start: 1;
  grid-row-start: 3;
  grid-row-end: 5;
}

.container--img-block:nth-of-type(4) {
  grid-column-start: 2;
  grid-row-start: 3;
}
.container--img-block:nth-of-type(5) {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 4;
}

.text__block {
  width: 100%;
  color: var(--mainfont-color, #f1b2ce);
  font-family: var(--mainfont, sans-serif);
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 130%; /* 23.4px */
  padding-block-start: 10px;
  padding-block-end: 20px;
}

.text__block:last-of-type {
  padding-block-end: 0;
}

.mini-block .title {
  margin-block-end: 20px;
}

.block {
  display: flex;
}

.block--title {
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;
  height: 100%;
}

.text-hadow {
  border: 1px solid transparent;
  text-decoration: none;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
  cursor: pointer;
}
.text-hadow:hover {
  text-decoration: underline;
}

.text-hadow:focus {
  outline: none;
}

.text-hadow:focus-visible {
  border: 1px solid currentColor;
  outline: none;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.footer__title {
  text-align: center;
  text-shadow: 2px 2px 0px var(--accent-color, #ff0070);
}

@media screen and (min-width: 376px) and (max-width: 768px) {
  .header__theme-menu {
    justify-self: flex-end;
    align-self: flex-end;
    margin-inline-end: 20px;
    padding-block-start: 0;
    margin-block-start: -11px;
  }
  .header__theme-menu-list {
    flex-direction: column;
  }

  .header__text {
    margin-inline-end: 20px;
    max-width: 364px;
  }

  .header__title {
    margin-block-start: 106px;
    margin-block-end: 48px;
  }
  .container--what {
    grid-template-columns: 1fr;
  }

  .container--what-title {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .title.container--what-block:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .text__block.container--what-block:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .title.container--what-block:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .text__block.container--what-block:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .title.container--what-block:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .text__block.container--what-block:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 9;
  }
}

@media (max-width: 375px) {
  .decor__element {
    top: 10px;
    right: 19px;
  }

  .decorated-zone:after {
    top: 10px;
    right: 10px;
  }
  .decorated-zone:before {
    bottom: 10px;
    left: 10px;
  }

  .main-title {
    font-size: var(--mainfont-size-mob, 116px);
  }

  .header__theme-menu {
    justify-self: flex-end;
    align-self: center;
    margin-inline-end: 17px;
  }
  .header__theme-menu-list {
    flex-direction: column;
    gap: 10px;
  }

  .header__text {
    margin-inline-end: 0;
    max-width: 357px;
    justify-self: center;
  }

  .container {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 50px;
    margin-block-end: 50px;
  }

  .container--what {
    grid-template-columns: 1fr;
  }

  .container--what-title {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .title.container--what-block:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .text__block.container--what-block:nth-of-type(1) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .title.container--what-block:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .text__block.container--what-block:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .title.container--what-block:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 7;
  }

  .text__block.container--what-block:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 9;
  }

  .container--why {
    grid-template-columns: 1fr;
  }
  .container--why-title {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container--why-block {
    grid-column-start: 1;
    grid-row-start: span 1;
  }

  .container--how {
    grid-template-columns: 1fr;
  }

  .container--how-title {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .container--img {
    grid-template-columns: 1fr;
    column-gap: 0;
    row-gap: 5px;
  }

  .container--img-title {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
  }

  .container--img-block:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
  }
  .container--img-block:nth-of-type(2) {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .container--img-block:nth-of-type(3) {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .container--img-block:nth-of-type(4) {
    grid-column-start: 1;
    grid-row-start: 5;
  }
  .container--img-block:nth-of-type(5) {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 7;
  }
}
