/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* альтернативный щрифт - в дальнейшем его переопределяем */
  --mainfont: "IBM Plex mono", monospace;
  /* цвет меню */
  --menu-color: #ff0070;
  /* цвет меню для состояния hover */
  --menu-color-RGB-transperent: rgba(255, 0, 112, 0.4);
  /* цвет шрифта для акцентных элементов */
  --accent-color: #ff0070;
  /* цвет шрифта для заголовков 1 уровня */
  --title_big-color: #db00ff;
  /* цвет шрифта для заголовков 2 уровня */
  --subtitle-colore: #ff0070;
  /* цвет шрифта для заголовков 2 уровня с декором*/
  --subtitle-color-decor: #000028;
  /* цвет шрифта для заголовков 2 и 3 уровня */
  --mainfont-color: #f1b2ce;
  /* размер шрифта заголовка для планшета или декстопа */
  --mainfont-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
